.wrapper {
  position: relative;
  height: 100vh; /* Full viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000000; /* Black background for contrast */
  overflow: hidden;
}

#particles {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1; /* Ensure it's behind other elements */
}

.text {
  z-index: 1; /* Ensure this is above the particle canvas */
  font-size: 40px;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  text-align: center;
}
